<div class="background">
  <div class="background-img">
    <img src="assets/images/backgrounds/1.jpg" alt="" />
  </div>
</div>

<!-- amazing slider section -->
<section class="amazing-slider-section">
  <section class="amazing-slider">
    <div class="amazing-slider-body">
      <div class="amazing-slider-content">
        <div
          class="item"
          style="background-image: url('assets/images/slides/1.jpg')"
        >
          <div class="content">
            <h1>Enjoy your food</h1>
            <h4>
              Amazing palace for hungry people. Delicious, Fast, Convinient,...
              Everythings that you need is here.
            </h4>
            <h5>
              <a href="#">Order now</a>
            </h5>
          </div>
        </div>

        <div
          class="item"
          style="background-image: url('assets/images/slides/2.jpg')"
        >
          <div class="content">
            <h1>A Culinary Journey</h1>
            <h4>
              Step into our restaurant and embark on a culinary journey that
              will tantalize your taste buds and leave you craving for more.
            </h4>
            <h5>
              <a href="#">Order now</a>
            </h5>
          </div>
        </div>

        <div
          class="item"
          style="background-image: url('assets/images/slides/3.jpg')"
        >
          <div class="content">
            <h1>Gourmet Delights</h1>
            <h4>
              Indulge in our gourmet delights crafted by master chefs to bring
              you an unforgettable dining experience.
            </h4>
            <h5>
              <a href="#">Order now</a>
            </h5>
          </div>
        </div>

        <div
          class="item"
          style="background-image: url('assets/images/slides/7.jpg')"
        >
          <div class="content">
            <h1>Delicious Cuisine</h1>
            <h4>
              Experience the delicious cuisine that combines traditional recipes
              with modern culinary techniques.
            </h4>
            <h5>
              <a href="#">Order now</a>
            </h5>
          </div>
        </div>

        <div
          class="item"
          style="background-image: url('assets/images/slides/4.jpg')"
        >
          <div class="content">
            <h1>Exquisite Flavors</h1>
            <h4>
              Discover the exquisite flavors that define our signature dishes,
              made from the freshest ingredients.
            </h4>
            <h5>
              <a href="#">Order now</a>
            </h5>
          </div>
        </div>

        <div
          class="item"
          style="background-image: url('assets/images/slides/5.jpg')"
        >
          <div class="content">
            <h1>Seasonal Menu</h1>
            <h4>
              Enjoy our seasonal menu, featuring dishes that highlight the best
              flavors of each season.
            </h4>
            <h5>
              <a href="#">Order now</a>
            </h5>
          </div>
        </div>

        <div
          class="item"
          style="background-image: url('assets/images/slides/6.jpg')"
        >
          <div class="content">
            <h1>Chef's Special</h1>
            <h4>
              Treat yourself to the chef's special, a unique dish that showcases
              our passion for culinary excellence.
            </h4>
            <h5>
              <a href="#">Order now</a>
            </h5>
          </div>
        </div>
      </div>

      <div class="amazing-slider-nav">
        <button id="prev-button" class="prev">
          <i class="fa-solid fa-chevron-left"></i>
        </button>
        <button id="next-button" class="next">
          <i class="fa-solid fa-chevron-right"></i>
        </button>
      </div>
    </div>
  </section>
</section>

<!-- recommended food section -->
<section class="recommended-section">
  <!-- decoration -->
  <img
    class="decorating-background-item position-absolute opacity-25 d-none d-lg-block"
    src="assets/images/ornaments/1.png"
    alt=""
    style="left: -300px; top: -10px; height: 360px; width: 600px"
  />
  <img
    class="decorating-background-item position-absolute"
    src="assets/images/ornaments/2.png"
    alt=""
    style="
      right: -240px;
      top: 100px;
      height: 360px;
      width: 600px;
      opacity: 0.1;
      transform: rotateY(180deg) rotateZ(150deg);
    "
  />

  <!-- content -->
  <div class="introduction">
    <img src="assets/images/icons/br.png" alt="" />
    <div class="title-container">
      <div class="decorating-item left-decorating-item"></div>
      <h1>Spice Infusion</h1>
      <div class="decorating-item right-decorating-item"></div>
    </div>
    <div>
      Embark on a journey of bold flavors with our Spice Infusion, where each
      dish is a perfect blend of aromatic spices. Experience the pinnacle of
      culinary artistry with our Chef's Signature Dish, meticulously crafted to
      perfection.
    </div>
  </div>
  <div class="content">
    <div class="row gx-5 gy-5">
      <div class="col-12 col-lg-4">
        <div class="recommended-item">
          <div class="shining-container">
            <img src="assets/images/menus/4.jpg" alt="" />
          </div>
          <div class="best-seller-title">
            <div class="line"></div>
            <h2>Best Seller</h2>
            <div class="line"></div>
          </div>
          <h3>Ksambit hamburger & french fried</h3>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="recommended-item">
          <div class="shining-container">
            <img src="assets/images/menus/3.jpg" alt="" />
          </div>
          <div class="best-seller-title">
            <div class="line"></div>
            <h2>Best Seller</h2>
            <div class="line"></div>
          </div>
          <h3>Signature Chicken nuggets (medium)</h3>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="recommended-item">
          <div class="shining-container">
            <img src="assets/images/menus/2.jpg" alt="" />
          </div>
          <div class="best-seller-title">
            <div class="line"></div>
            <h2>Best Seller</h2>
            <div class="line"></div>
          </div>
          <h3>Sinature Vietnamese toast (spicy)</h3>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- about us section -->
<section class="about-us-section" id="about-us-section">
  <h1>Jearsoi!</h1>
  <h2 class="d-none d-md-block">Your Go-To Destination for Delicious Food</h2>
  <p>
    At Jearsoi, we pride ourselves on offering a wide variety of mouth-watering
    fast food options that cater to all tastes. From juicy burgers and crispy
    fried chicken to fresh salads and delightful desserts, we have something for
    everyone. Our commitment to quality means that we use only the freshest
    ingredients, ensuring that every bite is a burst of flavor. With our fast
    and reliable delivery service, you can enjoy your favorite meals from the
    comfort of your home. Experience the best in fast food with FastFoodDelight
    today!
  </p>
  <div class="exploring-btns">
    <a href="">Order Food Now</a>
    <a href="">Visit Our Menus</a>
  </div>
</section>

<!-- why us section -->
<section class="why-us-section">
  <!-- decoration -->
  <img
    class="decorating-background-item position-absolute opacity-25"
    src="assets/images/ornaments/3.png"
    alt=""
    style="left: -30px; top: 30px"
  />
  <img
    class="decorating-background-item position-absolute opacity-25"
    src="assets/images/ornaments/4.png"
    alt=""
    style="right: -20px; bottom: 40px; height: 600px"
  />

  <!-- introduction -->
  <div class="introduction">
    <img src="assets/images/icons/br.png" alt="" />
    <h2>Our Strength</h2>
    <h3>Why choose us</h3>
  </div>

  <!-- content -->
  <div class="content">
    <div class="row gx-5 gy-5">
      <div class="col-12 col-md-6 col-xl-3">
        <div class="strength-item">
          <div class="icon">
            <i class="fa-solid fa-pizza-slice"></i>
          </div>
          <div class="text">
            <h3>Wide-variety of food</h3>
            <p>
              Explore our diverse menu with delicious options for every taste.
              From appetizers to desserts, we have something for everyone.
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-xl-3">
        <div class="strength-item">
          <div class="icon">
            <i class="fa-solid fa-truck"></i>
          </div>
          <div class="text">
            <h3>Fast delivery</h3>
            <p>
              Enjoy our quick and reliable delivery service. Your favorite
              dishes, delivered hot and fresh to your door in no time.
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-xl-3">
        <div class="strength-item">
          <div class="icon">
            <i class="fa-solid fa-calendar-days"></i>
          </div>
          <div class="text">
            <h3>Lots of Events</h3>
            <p>
              Make your holidays better. Enjoy tailored menus, elegant settings,
              and top-notch service for an unforgettable experience.
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-xl-3">
        <div class="strength-item">
          <div class="icon">
            <i class="fa-solid fa-ticket"></i>
          </div>
          <div class="text">
            <h3>Special Vouchers</h3>
            <p>
              Get exclusive discounts with our special vouchers. These vouchers
              make the ideal gift for friends and family. Good luck!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- review section -->
<section class="review-section overflow-hidden">
  <div class="row gx-0 amazing-img-container">
    <div class="col-12 col-lg-5">
      <div
        class="left-img amazing-img"
        style="background-image: url(assets/images/menus/5.jpg)"
      >
        <a class="" href="">Use Order Website</a>
        <a class="" href="">Visit Our Menus</a>
        <a class="" href="">Contact Us</a>
      </div>
    </div>
    <div class="col-12 col-lg-7 right-article">
      <h1>What you about to see here</h1>
      <ul>
        <li class="review-item">
          <div class="list-item-title">
            <div class="list-icon"></div>
            <h2>Convenient Location</h2>
          </div>
          <p>
            Located in the heart of the city at Delicious street, Amazing city,
            New York 2024, US, Jearsoi is easily accessible for a quick and
            convenient pick-up. Moreover, you can easily order food at your home
            by using our Online Order Website
          </p>
        </li>
        <li class="review-item">
          <div class="list-item-title">
            <h2>Diverse Menu</h2>
            <div class="list-icon"></div>
          </div>
          <p>
            Our menu is packed with a wide variety of dishes, all made from the
            freshest ingredients. Whether you're in the mood for a light snack
            or a hearty meal, we have something for everyone.
          </p>
        </li>
        <li class="review-item">
          <div class="list-item-title">
            <div class="list-icon"></div>
            <h2>Quality and Freshness</h2>
          </div>
          <p>
            At Jearsoi, we prioritize quality and freshness. Each dish is
            prepared to order, ensuring you get the best flavors every time.
          </p>
        </li>
        <li class="review-item">
          <div class="list-item-title">
            <h2>Friendly Service</h2>
            <div class="list-icon"></div>
          </div>
          <p>
            We understand that time is precious. Our efficient and friendly
            staff ensures that your order is prepared quickly, so you can get on
            with your day without delay.
          </p>
        </li>
        <li class="review-item">
          <div class="list-item-title">
            <div class="list-icon"></div>
            <h2>Operating Hours</h2>
          </div>
          <p>
            Open daily from 8:00 AM to 10:00 PM, Jearsoi is here to satisfy your
            cravings any time of the day. Stop by for breakfast, lunch, or
            dinner, and enjoy our delicious offerings on the go.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- simple menus section -->
<section class="simple-menus-section">
  <!-- decoration -->
  <img
    class="decorating-background-item position-absolute opacity-25"
    src="assets/images/ornaments/7.png"
    alt=""
    style="left: -40px; top: 0; transform: rotateZ(140deg);"
  />
  <img
    class="decorating-background-item position-absolute opacity-25 d-none d-lg-block"
    src="assets/images/ornaments/5.png"
    alt=""
    style="right: -100px; top: 30px;"
  />
  <img
    class="decorating-background-item position-absolute opacity-25"
    src="assets/images/ornaments/6.png"
    alt=""
    style="left: -40px; bottom: -60px; height: 600px;  transform: ScaleX(-1) rotateZ(-70deg);"
  />

  <!-- introduction -->
  <div class="introduction">
    <img src="assets/images/icons/br.png" alt="" />
    <div class="title-container">
      <div class="decorating-item left-decorating-item"></div>
      <h1>Delicious Menu</h1>
      <div class="decorating-item right-decorating-item"></div>
    </div>
    <p>Special Selection For You</p>
  </div>

  <!-- content -->
  <div class="content">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation" *ngFor="let category of categories.slice(0, 3); let i = index">
        <button
          class="nav-link"
          [class.active]="(i + 1) === 1"
          [id]="i + '-tab'"
          data-bs-toggle="tab"
          [attr.data-bs-target]="'#' + (i + 1) + '-tab-pane'"
          [attr.aria-selected]="(i + 1) === 1"
        >
          {{ category.name }}
        </button>
      </li>
    </ul>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="1-tab"
          data-bs-toggle="tab"
          data-bs-target="#1-tab-pane"
          aria-selected="true"
        >
          Burgers
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="2-tab"
          data-bs-toggle="tab"
          data-bs-target="#2-tab-pane"
          aria-selected="false"
        >
          Pizzas
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="3-tab"
          data-bs-toggle="tab"
          data-bs-target="#3-tab-pane"
          aria-selected="false"
        >
          Drinks
        </button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="1-tab-pane"
        role="tabpanel"
        aria-labelledby="1-tab"
        tabindex="0"
      >
        <div class="container mt-5">
          <div class="row gx-5 p-0">
            <!-- Cột thứ nhất -->
            <div class="col-md-6">
              <!-- Card 1 -->
              <app-card-1></app-card-1>
              <!-- Card 2 -->
              <app-card-1></app-card-1>
              <!-- Card 3 -->
              <app-card-1></app-card-1>

            </div>
            <!-- Cột thứ hai -->
            <div class="col-md-6">
              <!-- Card 4 -->
              <app-card-1></app-card-1>
              <!-- Card 5 -->
              <app-card-1></app-card-1>
              <!-- Card 6 -->
              <app-card-1></app-card-1>

            </div>
          </div>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="2-tab-pane"
        role="tabpanel"
        aria-labelledby="2-tab"
        tabindex="0"
      ></div>
      <div
        class="tab-pane fade"
        id="3-tab-pane"
        role="tabpanel"
        aria-labelledby="3-tab"
        tabindex="0"
      ></div>
    </div>
    <div class="text-center nav-btn-container" style="margin-top: 70px">
      <a class="menu-btn" routerLink="/menus">View all Menu</a>
    </div>
  </div>
</section>



