<button class="btn btn-primary d-flex align-items-center" (click)="switchToListView()">
    <i class="fa-solid fa-arrow-left align-middle"></i>
    <span class="mb-0 ms-2 ff-roboto">Go back</span>
  </button>
  
  <div class="row gx-5">
    <div class="col-lg-6">
      <form class="py-5 crud-form w-100" action="">
        <h5 class="mb-4" style="font-family: 'Roboto'">Update employee's information</h5>
        <div class="mb-4 row gx-3">
          <div class="col-6">
            <label for="update-employee-name" class="form-label"
              >Employee Name</label
            >
            <input
              type="text"
              class="form-control"
              id="update-employee-name"
              placeholder="Type emp name"
            />
          </div>
          <div class="col-6">
            <label for="update-employee-phone" class="form-label"
              >Phone number</label
            >
            <input type="text" id="update-employee-phone" class="form-control" placeholder="0123456789" />
          </div>
        </div>
        <div class="mb-4">
          <label for="update-employee-email" class="form-label">Email address</label>
          <input
            type="text"
            class="form-control"
            id="update-employee-email"
            placeholder="abc@gmail.com"
          />
        </div>
        <div class="mb-4">
          <label for="update-employee-username" class="form-label">User name</label>
          <input type="text" class="form-control" id="update-employee-username" />
        </div>
        <div class="mb-4 row gx-3">
          <div class="col-6">
            <label for="update-employee-password" class="form-label">Password</label>
            <input type="text" class="form-control" id="update-employee-password" />
          </div>
          <div class="col-6">
            <label for="update-employee-confpass" class="form-label"
              >Confirm password</label
            >
            <input type="text" class="form-control" id="update-employee-confpass" />
          </div>
        </div>
        <div class="mb-4">
          <label for="update-employee-status" class="form-label">Status</label>
          <select
            class="form-select form-item filter-input"
            id="update-employee-status"
            aria-label="Default select example"
          >
            <option value="0" selected>Working</option>
            <option value="1">Stop working</option>
          </select>
        </div>
  
        <div class="mb-4">
          <label for="update-employee-image" class="form-label">Image</label>
          <input class="form-control" type="file" id="update-employee-image" />
        </div>
        <div class="mt-5">
          <button class="btn btn-warning px-5">Reset</button>
          <button class="btn btn-success px-5 ms-3">Save</button>
        </div>
      </form>
    </div>
    <div class="col-lg-6">
      <div class="py-5">
        <div class="mt-5 d-flex justify-content-center">
          <div class="card" style="width: 300px">
            <div class="img-container">
              <img src="assets/images/employees/1.jpg" alt="" />
            </div>
            <h5>Vu Nguyen Cong Hau</h5>
            <p class="role">Employee</p>
            <p class="email">hauvncps35740&#64;fpt.edu.vn</p>
            <div class="control-container">
              <button class="btn btn-primary">Update</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  