<div class="control-container z-3">
  <input
    class="form-control"
    type="month"
    placeholder="Search Name"
    id="statistic-month"
  />
</div>

<div class="list-container">
  <div class="row gx-5 gy-5">
    <div class="col-md-6">
      <div class="statistic-board">
        <h5 class="mb-5">Order</h5>
        <div class="statistic-item">
          <span>Total orders: </span>
          <span>4330</span>
        </div>
        <div class="statistic-item">
          <span>Successfull orders: </span>
          <span>270</span>
        </div>
        <div class="statistic-item">
          <span>Canceled orders: </span>
          <span>30</span>
        </div>
        <div class="statistic-item">
          <span>Successfull delivery rate: </span>
          <span>90%</span>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="statistic-board">
        <h5 class="mb-5">Revenue</h5>
        <div class="statistic-item">
          <span>Revenue: </span>
          <span>255000000</span>
        </div>
        <div class="statistic-item">
          <span>Average daily revenue: </span>
          <span>4330</span>
        </div>
        <div class="statistic-item">
          <span>Highest daily revenue: </span>
          <span>270</span>
        </div>
        <div class="statistic-item">
          <span>Day with the highest revenue: </span>
          <span>20/5/2024</span>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="statistic-board">
        <h5 class="mb-5">Product</h5>
        <div class="statistic-item">
          <span>Best-selling product: </span>
          <span>Fried chicken legs</span>
        </div>
        <div class="statistic-item">
          <span>Least popular dish: </span>
          <span>Chiken nugets</span>
        </div>
        <div class="statistic-item">
          <span>Total dishes ordered: </span>
          <span>700</span>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="statistic-board">
        <h5 class="mb-5">Customer</h5>
        <div class="statistic-item">
          <span>New customers: </span>
          <span>145</span>
        </div>
        <div class="statistic-item">
          <span>Guest customer: </span>
          <span>56</span>
        </div>
        <div class="statistic-item">
          <span>Total customer: </span>
          <span>201</span>
        </div>
      </div>
    </div>
  </div>
</div>
