<button
  class="btn btn-primary d-flex align-items-center"
  (click)="switchToListView()"
>
  <i class="fa-solid fa-arrow-left align-middle"></i>
  <span class="mb-0 ms-2 ff-roboto">Go back</span>
</button>

<div class="row gx-5">
  <div class="col-lg-7">
    <form class="py-5 crud-form w-100" (ngSubmit)="onSubmit($event)">
      <h5 class="mb-4" style="font-family: 'Roboto'">Update product's information</h5>
      <div class="mb-4">
        <label for="update-product-name" class="form-label">Product Name</label>
        <input
          type="text"
          class="form-control"
          id="update-product-name"
          name="update-product-name"
          name="update-product-name"
          placeholder="Type product name"
          required
          [(ngModel)]="product.name"
        />
      </div>
  
  
      <div class="mb-4 d-flex gap-3">
        <div style="flex: 1;">
          <label for="update-product-category" class="form-label">Category</label>
          <select
            class="form-select form-item filter-input"
            id="update-product-category"
            name="update-product-category"
            aria-label="Default select example"
            required
            [(ngModel)]="product.categoryId"
          >
            <option
              value="{{ item.categoryId }}"
              *ngFor="let item of categories; let i = index"
            >
              {{ item.name }}
            </option>
          </select>
        </div>
  
        <div style="flex: 1;">
          <label for="update-product-price" class="form-label">Unit price</label>
          <input
            type="number"
            class="form-control"
            id="update-product-price"
            name="update-product-price"
            placeholder="$3.99"
            required
            [(ngModel)]="product.price"
          />
        </div>
      </div>
  
      <div class="mb-4">
        <label for="update-product-image" class="form-label">New Image</label>
        <input
          class="form-control"
          type="file"
          id="update-product-image"
          name="update-product-image"
          (change)="onFileSelected($event)"
        />
      </div>
  
  
      <div class="mb-4">
        <label for="update-product-status" class="form-label">Status</label>
        <select
          class="form-select form-item filter-input"
          id="update-product-status"
          name="update-product-status"
          aria-label="Default select example"
          required
          [(ngModel)]="product.status"
        >
          <option value="0" selected>Operating</option>
          <option value="1">Closed</option>
        </select>
      </div>
      <div class="mb-4">
        <label for="update-product-description" class="form-label"
          >Description</label
        >
        <textarea
          class="form-control"
          id="update-product-description"
          name="update-product-description"
          placeholder="Your description here"
          required
          [(ngModel)]="product.description"
        ></textarea>
      </div>
      <div class="mt-5">
        <button type="submit" #submitBtn class="btn btn-success d-none">Submit</button>
        <button type="button" class="btn btn-warning px-5" (click)="resetToDefault()">Reset</button>
        <button type="button" class="btn btn-success px-5 ms-3" (click)="openUpdateModal()">Save</button>
      </div>
    </form>
  </div>
  <div class="col-lg-5">
    <div class="py-5">
      <h5 class="mb-4">Card template</h5>
      <div class="mb-5">
        <app-card-1 [product]="product" [productImgUrl]="productImgUrl"></app-card-1>
      </div>
      <div style="max-width: 250px;">
        <app-card-2 [product]="product" [productImgUrl]="productImgUrl"></app-card-2>
      </div>
    </div>
  </div>
  
</div>

<ng-template #updateConfirmModal let-modal>
  <div class="app-modal">
    <div class="modal-header">
      <h5 class="modal-title">Confirm Updation</h5>
      <button
        type="button"
        class="close-btn"
        (click)="modal.dismiss('Cross click')"
      >
        <span></span><span></span><span></span>
      </button>
    </div>
    <div class="modal-body">
      <div class="fw-bold">
        Are you sure you want to update
        <span class="text-success fw-bold">"{{ product.name }}"</span>
        product?
      </div>
      <div class="mt-2" style="font-size: 14px">
        <span>
          All information associated to this product will be permanently
          updated.
        </span>
        <span class="text-danger"> This operation can not be undone. </span>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        (click)="modal.dismiss('Cancel click')"
      >
        Cancel
      </button>
      <button
        type="button"
        class="btn btn-primary"
        (click)="confirmUpdate(modal)"
      >
        Update
      </button>
    </div>
  </div>
</ng-template>
