<div class="control-container z-3">
  <button class="btn btn-success" (click)="loadProducts()">Refresh</button>
  <button class="btn btn-primary" (click)="switchToAddView()">
    Add product
  </button>
  <input
    class="form-control ms-lg-auto"
    type="text"
    placeholder="Search Name"
    (input)="onSearchInput($event)"
    id="product-keyname"
  />

  <select
    class="form-select form-item filter-input"
    aria-label="Default select example"
    id="product-bycategory"
    (change)="onCategoryFiltChange($event)"
  >
    <option value="{{item.categoryId}}" *ngFor="let item of categories">{{item.name}}</option>
  </select>

  <select
    class="form-select form-item filter-input"
    aria-label="Default select example"
    id="product-sort-option"
    (change)="onSortOptionChange($event)"
  >
    <option value="nameAsc" selected>Name: a - z</option>
    <option value="nameDesc">Name: z - a</option>
    <option value="priceAsc">Price: a - z</option>
    <option value="priceDesc">Price: z - a</option>
  </select>
</div>

<div class="list-container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col" style="width: 10%">Image</th>
        <th scope="col" style="width: 25%">Name</th>
        <th class="text-end" scope="col" style="width: 15%">Price</th>
        <th class="text-end" scope="col" style="width: 35%">Status</th>
        <th class="text-end" scope="col" style="width: 15%">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="hover-bg-1"
        *ngFor="
          let item of products
            | paginate : { itemsPerPage: itemsPerPage, currentPage: page };
          let i = index
        "
        (click)="switchToDetailsView(item)"
      >
        <td>
          <div class="img-container">
            <img [src]="getImgUrl(item.imgUrl)" alt="" />
          </div>
        </td>
        <td class="">{{ item.name }}</td>
        <td class="text-end">{{ item.price }}</td>
        <td *ngIf="item.status == 0" class="text-end">
          <span>Operating</span>
        </td>
        <td *ngIf="item.status == 1" class="text-end">
          <span class="text-danger">Closed</span>
        </td>
        <td class="action">
          <button class="action-btn" (click)="switchToUpdateView(item)">
            <i class="fa-solid fa-pen text-primary"></i>
          </button>
          <button class="action-btn" (click)="openDeleteModal($event, item)">
            <i class="fa-solid fa-trash text-danger"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="control-container z-3">
  <nav class="ms-auto pagination-nav" aria-label="Page navigation example">
    <ul class="pagination m-0">
      <li class="page-item" (click)="changePage(1)">
        <a class="page-link"><span aria-hidden="true">&laquo;</span></a>
      </li>
      <li class="page-item" *ngIf="page - 1 > 0" (click)="changePage(page - 1)">
        <a class="page-link">{{ page - 1 }}</a>
      </li>
      <li class="page-item" (click)="changePage(page)">
        <a class="page-link active">{{ page }}</a>
      </li>
      <li
        class="page-item"
        *ngIf="page + 1 <= maxPageNumber"
        (click)="changePage(page + 1)"
      >
        <a class="page-link">{{ page + 1 }}</a>
      </li>
      <li class="page-item" (click)="changePage(maxPageNumber)">
        <a class="page-link"><span aria-hidden="true">&raquo;</span></a>
      </li>
    </ul>
  </nav>
</div>

<ng-template #deleteConfirmModal let-modal>
  <div class="app-modal">
    <div class="modal-header">
      <h5 class="modal-title">Confirm Deletion</h5>
      <button
        type="button"
        class="close-btn"
        (click)="modal.dismiss('Cross click')"
      >
        <span></span><span></span><span></span>
      </button>
    </div>
    <div class="modal-body">
      <div class="fw-bold">
        Are you sure you want to delete
        <span class="text-success fw-bold">"{{ selectedProduct.name }}"</span>
        product?
      </div>
      <div class="mt-2" style="font-size: 14px">
        <span>
          All information about this product will permanently deleted. You
          cannot check this product in old orders but the price and name still
          be saved.
        </span>
        <span class="text-danger"> This operation can not be undone. </span>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        (click)="modal.dismiss('Cancel click')"
      >
        Cancel
      </button>
      <button
        type="button"
        class="btn btn-danger"
        (click)="confirmDelete(modal)"
      >
        Delete
      </button>
    </div>
  </div>
</ng-template>
