<div class="support-section">
  <!-- decoration -->
  <img
    class="decorating-background-item position-absolute opacity-25"
    src="assets/images/ornaments/3.png"
    alt=""
    style="left: -30px; top: 0; z-index: 1 !important;"
  />
  <img
    class="decorating-background-item position-absolute opacity-25"
    src="assets/images/ornaments/4.png"
    alt=""
    style="right: -100px; bottom: -100px; height: 600px"
  />

  <div class="container">
    <div class="row gx-0">
      <div class="col-lg-7" style="z-index: 100;">
        <form class="support-form" action="">
          <h2 class="mb-5">Contac Form</h2>
          <div class="mb-3 row gy-4">
            <div class="col-6">
              <label for="support-name" class="form-label">Name</label>
              <input type="email" class="form-control" id="support-name" />
            </div>
            <div class="col-6">
              <label for="support-phone" class="form-label">Phone</label>
              <input type="email" class="form-control" id="support-phone" />
            </div>
            <div class="col-6">
              <label for="support-email" class="form-label"
                >Email address</label
              >
              <input type="email" class="form-control" id="support-email" />
            </div>
            <div class="col-6">
              <label for="support-isCustomer" class="form-label"
                >Are you old customer?</label
              >
              <select
                class="form-select"
                id="support-isCustomer"
                aria-label="Default select example"
              >
                <option selected>Yes, I have</option>
                <option value="1">No, I have not</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="support-description" class="form-label"
                >What's your problem</label
              >
              <textarea
                class="form-control"
                id="support-description"
                rows="3"
              ></textarea>
            </div>
          </div>
          <button>Send to us</button>
        </form>
      </div>
      <div class="col-lg-5">
        <div class="right-img">
          <div class="background-container">
            <img src="assets/images/menus/2.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer-container">
    <div class="row gx-5 gy-5">
      <div class="d-none d-lg-block col-3">
        <div class="footer-nav">
          <a href="#">Home</a>
          <a href="#">Menus</a>
          <a href="#about-us-section">About Us</a>
          <a href="#">Contact</a>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="subcribe-form">
          <h1>JEARSOI</h1>
          <div class="information">
            Address: Restaurant Jaersoi, Delicious street, Amazing city, New
            York 2024, US
          </div>
          <div class="information">Email: Jaersoi&#64;gmail.com</div>
          <div class="information">Phone: +99 332 214 567</div>
          <div class="information">Open: 8:00 AM to 10:00 PM</div>
          <h3>Serving you is our pleasure</h3>
          <p>Submit your email to get 20% off</p>
          <form class="row gx-0 gy-3 gy-md-0">
            <div class="col-7">
              <div>
                <input
                  type="email"
                  class="form-control rounded-0"
                  id="exampleFormControlInput1"
                  placeholder="name@example.com"
                />
              </div>
            </div>
            <div class="col-5">
              <button
                type="submit"
                class="h-100 w-100 rounded-0"
              >
                Subcribe
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="d-block d-lg-none col-12">
        <div class="footer-nav">
          <a href="#">Home</a>
          <a href="#">Menus</a>
          <a href="#about-us-section">About Us</a>
          <a href="#">Contact</a>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="footer-nav">
          <a href="#">Facebook</a>
          <a href="#">Instagram</a>
          <a href="#">Youtube</a>
          <a href="#">Tiktok</a>
        </div>
      </div>
    </div>
  </div>
</div>
