<div class="row gx-5">
  <div class="col-lg-6">
    <form class="crud-form w-100" action="">
      <h5 class="mb-4" style="font-family: 'Roboto'">Account information</h5>
      <div class="mb-4 row gx-3">
        <div class="col-6">
          <label for="details-employee-name" class="form-label">Name</label>
          <input type="text" class="form-control" id="details-employee-name" value="Vu Nguyen Cong Hau" disabled />
        </div>
        <div class="col-6">
          <label class="form-label" for="details-employee-phone">Phone number</label>
          <input type="text" id="details-employee-phone" class="form-control" value="0775541796" disabled />
        </div>
      </div>
      <div class="mb-4">
        <label for="details-employee-email" class="form-label">Email address</label>
        <input type="text" class="form-control" id="details-employee-email" value="hauvncps35740@fpt.edu.vn" disabled />
      </div>
      <div class="mb-4">
        <label for="details-employee-username" class="form-label">User name</label>
        <input type="text" class="form-control" id="details-employee-username" value="superadmin123" disabled />
      </div>
      <div class="mb-4">
        <label for="details-employee-status" class="form-label">Status</label>
        <select class="form-select form-item filter-input" id="details-employee-status"
          aria-label="Default select example" disabled>
          <option value="0" selected>Working</option>
          <option value="1">Stop working</option>
        </select>
      </div>

      <div class="mt-5">
        <button class="btn btn-success px-5">Update</button>
        <button class="btn btn-primary px-5 ms-3">Change Password</button>
      </div>
    </form>
  </div>
  <div class="col-lg-6">
    <div class="py-5">
      <div class="d-flex justify-content-center">
        <div class="card" style="width: 300px">
          <div class="img-container">
            <img src="assets/images/employees/1.jpg" alt="" />
          </div>
          <h5>Vu Nguyen Cong Hau</h5>
          <p class="role">Employee</p>
          <p class="email">hauvncps35740&#64;fpt.edu.vn</p>
          <div class="control-container">
            <button class="btn btn-primary">Update</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>