<div [ngSwitch]="view">
  <div *ngSwitchCase="'add'">
    <product-add (switchToListViewFunc)="setView('list')"></product-add>
  </div>
  <div *ngSwitchCase="'update'">
    <category-update
      [defaultProduct]="selectedProduct"
      (switchToListViewFunc)="setView('list')"
    ></category-update>
  </div>
  <div *ngSwitchCase="'details'">
    <product-details
      [product]="selectedProduct"
      (switchToListViewFunc)="setView('list')"
      (switchToUpdateViewFunc)="switchToUpdate($event)"
    ></product-details>
  </div>
  <div *ngSwitchDefault>
    <product-list
      (switchToAddViewFunc)="setView('add')"
      (switchToUpdateViewFunc)="switchToUpdate($event)"
      (switchToDetailsViewFunc)="switchToDetails($event)"
    ></product-list>
  </div>
</div>
