
.control-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 20px;
    input, select {
        background-color: var(--background-one);
        color: var(--color-one);
        width: 200px;
        background-color: var(--background-one);
        border-color: var(--color-one-25);
    }
    input::placeholder{
        color: #5f5f5fca
    }

    .pagination-nav ul li a {
        background-color: var(--background-one);
        border-color: var(--color-one-25);
        color: var(--color-one);
    }

    .pagination-nav ul li a.active {
        color: var(--primary-color);
        font-weight: bold;
    }
}

.list-container{
    min-height: 400px;
    font-family: 'Jost';
    margin: 60px 0;
    table{
        font-size: 14px;
        tr, th, td{
            background: transparent;
            color: var(--color-one) !important;
            border-bottom-color: var(--color-one-25);
        }



        .action{
            text-align: right;
            .action-btn{
                border: none;
                background: transparent;
                .update-btn{
                    color:rgb(51, 126, 193);
                    transition: .6s;
                }
                .delete-btn{
                    color: rgb(192, 51, 51);
                    transition: .6s;
                }
                .update-btn:hover{
                    color:rgb(21, 85, 141)
                }
                .delete-btn:hover{
                    color: rgb(144, 23, 23);
                }
            }
        }
    }
}